.profile_page{
	display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
    align-items: center;
}

.cover img{
	width: 100%;
}

.avatar{
	align-items: center;
}

.avatar img{
	width: 150px;
	height: 150px;
}

.bio{
	text-align: center;
}

.button:hover{
	background-color: lightgray;
    border-radius: 10px;
}

.button{
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button .link{
	text-decoration: none;
	color: black;
	font-size: large;
}